In [1]:
# 1. Qual foi o faturamento total no período?

In [ ]:
# 1- Primeiro fiz a muktiplicação da quantidade do produto pelo preço, asim tem o valor total da compra
# 2- Soma total das compras da loja física e da virtua
# 3- Soma dos dois valores

In [55]:
import pandas as pd

In [31]:
OfflineSales = pd.read_json('offline_sales.json', lines= True)

In [32]:
OfflineSales.columns

Index(['date', 'state', 'store_id', 'sale_id', 'off_product_id', 'quantity',
       'price', 'customer_id'],
      dtype='object')

In [33]:
OfflineSales.dtypes

date              datetime64[ns]
state                     object
store_id                   int64
sale_id                    int64
off_product_id             int64
quantity                   int64
price                    float64
customer_id              float64
dtype: object

In [34]:
OfflineSales.head()

,date,state,store_id,sale_id,off_product_id,quantity,price,customer_id
0,2018-08-01,RN,3162633,323932636465316,643839313230323,1,279.0,NaN
1,2018-08-01,RN,3162633,326463633336323,613665646663346,1,229.0,NaN
2,2018-08-01,RN,3162633,333331346330323,343739666265353,1,179.0,NaN
3,2018-08-01,RN,3162633,393461383633336,373034633762613,1,269.0,NaN
4,2018-08-01,RN,3162633,616531626536373,343634373062363,1,29.0,NaN

In [40]:
OfflineSales['receitaOff'] = OfflineSales['quantity'].mul(OfflineSales['price'])

In [41]:
OfflineSales.head()

,date,state,store_id,sale_id,off_product_id,quantity,price,customer_id,receita,receitaOff
0,2018-08-01,RN,3162633,323932636465316,643839313230323,1,279.0,NaN,279.0,279.0
1,2018-08-01,RN,3162633,326463633336323,613665646663346,1,229.0,NaN,229.0,229.0
2,2018-08-01,RN,3162633,333331346330323,343739666265353,1,179.0,NaN,179.0,179.0
3,2018-08-01,RN,3162633,393461383633336,373034633762613,1,269.0,NaN,269.0,269.0
4,2018-08-01,RN,3162633,616531626536373,343634373062363,1,29.0,NaN,29.0,29.0

In [52]:
receitaOff = OfflineSales['receitaOff'].sum()
receitaOff

13903005.32

In [43]:
OnlineOrders = pd.read_json('online_orders.json', lines= True)

In [44]:
OnlineOrders.columns

Index(['date', 'visitor_id', 'deviceType', 'order_id', 'on_product_id',
       'quantity', 'price', 'customer_id'],
      dtype='object')

In [45]:
OnlineOrders.head()

,date,visitor_id,deviceType,order_id,on_product_id,quantity,price,customer_id
0,2018-08-01,3.663324e+24,desktop,363063373630306,323762666337343,1,839,NaN
1,2018-08-01,3.430317e+24,mobile,356664366366353,313562333039323,1,629,6.339334e+19
2,2018-08-01,3.261343e+24,desktop,313432656633333,383863346531623,1,219,3.765363e+19
3,2018-08-01,6.437387e+24,mobile,633236633438383,666136386663626,1,239,6.533383e+19
4,2018-08-01,6.264657e+24,desktop,623030326130383,626533383465323,1,69,NaN

In [46]:
OnlineOrders['receitaOn'] = OnlineOrders['quantity'].mul(OnlineOrders['price'])

In [47]:
OnlineOrders.head()

,date,visitor_id,deviceType,order_id,on_product_id,quantity,price,customer_id,receitaOn
0,2018-08-01,3.663324e+24,desktop,363063373630306,323762666337343,1,839,NaN,839
1,2018-08-01,3.430317e+24,mobile,356664366366353,313562333039323,1,629,6.339334e+19,629
2,2018-08-01,3.261343e+24,desktop,313432656633333,383863346531623,1,219,3.765363e+19,219
3,2018-08-01,6.437387e+24,mobile,633236633438383,666136386663626,1,239,6.533383e+19,239
4,2018-08-01,6.264657e+24,desktop,623030326130383,626533383465323,1,69,NaN,69

In [53]:
receitaOn = OnlineOrders['receitaOn'].sum()
receitaOn

5649323

In [54]:
#Soma da receita de vendas online e loja física
receitaOff + receitaOn

19552328.32