In [2]:
#2. Qual o produto mais comprado online?

In [ ]:
# Soma total de cada produto, para saber qual foi  mais vendido

In [53]:
import pandas as pd

In [3]:
OnlineOrders = pd.read_json('online_orders.json', lines= True)

In [7]:
OnlineOrders.head()

,date,visitor_id,deviceType,order_id,on_product_id,quantity,price,customer_id
0,2018-08-01,3.663324e+24,desktop,363063373630306,323762666337343,1,839,NaN
1,2018-08-01,3.430317e+24,mobile,356664366366353,313562333039323,1,629,6.339334e+19
2,2018-08-01,3.261343e+24,desktop,313432656633333,383863346531623,1,219,3.765363e+19
3,2018-08-01,6.437387e+24,mobile,633236633438383,666136386663626,1,239,6.533383e+19
4,2018-08-01,6.264657e+24,desktop,623030326130383,626533383465323,1,69,NaN

In [41]:
somatotalprodutos = OnlineOrders['quantity'].sum()
somatotalprodutos

12267

In [43]:
somaprodutos = OnlineOrders.groupby('on_product_id')['quantity'].sum()
produtomaisvendido = somaprodutos.sort_values(ascending=False)
produtomaisvendido

on_product_id
626664333563363    74
376531636530353    51
656136316465643    50
396464373131666    47
393665363031353    45
                   ..
613634393437643     1
326338396162326     1
326337663936393     1
366636333962336     1
353538623161613     1
Name: quantity, Length: 2184, dtype: int64

In [39]:
#Produto mai vendido
produtomaisvendido.head(1)

on_product_id
626664333563363    74
Name: quantity, dtype: int64